
    <div>
        <div class="container-all d-flex flex-sm-row flex-column" id="general-content">

            <div class="container-picture mr-auto p-2">
                <div class="container-logo">
                    <img class="pic-logo" src="images/logox.png" alt="logo-empresa">
                </div>

                <img class="pic1" src="images/index/imagen-contenido.svg" alt="imagen-contenido">
            </div>
            <div class="container-panel p-2">
                <span class="panel-title">
                    <img class="pic2" src="images/index/login.svg" alt="logo-login">
                </span>

                <div class="container-buttons">
                    <a class="button b1" asp-area="" asp-controller="Home" asp-action="login">
                        <span>SISTEMA</span> <i class="far fa-building fa-lg"></i>
                    </a>

                    <a class="button b3" href="http://www.credipymesolucion.com.pe/webmail">
                        <span>CORREO</span> <i class="far fa-envelope"></i>
                    </a>
                </div>
            </div>
        </div>

        <script type="text/javascript">
            if ('serviceWorker' in navigator) {
                navigator.serviceWorker.register('sw.js')
                    .then(reg => console.log('Registro de SW exitoso', reg))
                    .catch(err => console.warn('Error al tratar de registrar el sw', err))
            }
        </script>



    </div>
    <script></script>

    <style></style>
